body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 100px 400px 100px 200px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 200;
    font-size: 18px;
}

.song, h3 {
    padding-right: 300px;
    text-align: justify;
}